body {
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: none;
  color: white;
  font-family: monospace;
  background-image: url("./images/submission pic.jpg");
}
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: wheat;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 16px;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
}
input[type="submit"] {
  background-color: burlywood;
  transition: 0.4s;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: brown;
}

.error-message {
  color: red;
  margin-top: 5px;
  font-size: 14px;
}
